.acfx_data table {
	width: 100%;
}

.acfx_data div.header {
	font-size: 150%;
}

.acfx_data table td.data {
	width: 100%;
}

.acfx_data table td.spanned {
	border-top: 0;
	padding-top: 0;
}

.acfx_data table div.google-map {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.acfx_data table div.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
